@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  background-color: silver;
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
}

.video-bg {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#title {
  padding-top: 20px;
  margin: auto;
  text-align: center;
  color: white;
}

#description {
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
  color: whitesmoke;
}

label {
  padding: 10px 0px;
}

#name,
#email,
#number,
#dropdown {
  height: 30px;
  margin: auto;
  border-radius: 7px;
  border: none;
  background-color: rgba(113 119 144 / 25%);
  color: rgb(179, 184, 202);
  width: 98%;
}
#survey-form {
  background-color: rgba(16 18 27 / 40%);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  margin: 10px auto;
  text-align: justify;
  padding: 10px 10px;
  width: 85%;
  border-radius: 25px;
  max-width: 720px;
}
#survey-form div {
  padding: 10px 5px;
}
#radio-div label input {
  margin: 6px auto;
}
#checkbox-div label input {
  margin: 6px auto;
}
#textarea-div textarea {
  resize: vertical;
  width: 98%;
  border: none;
  border-radius: 5px;
  background-color: #c0c0c050;
  height: 80px;
}
#submit-div {
  margin: auto;
  text-align: center;
}
#submit {
  border: none;
  border-radius: 5px;
  background-color: silver;
  padding: 10px 20px;
}
#submit:hover {
  background-color: black;
  color: white;
  transition: all 0.6s;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(179, 184, 202);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgb(179, 184, 202);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgb(179, 184, 202);
}

@media (max-width: 428px) {
  body {
    font-size: smaller;
  }
}
